p{
    margin:0;
    padding:0;
}
.arowana img{
    width:500px;
    height:200px;
    padding:30px 20px;
}
a{
    text-decoration: none;
    color:#E5E7EB
}
.logo img{
    width: 80px;
    height:80px;
    
}

body{
    margin:0;
}


.header-container{
    background-color: #1F2937;
    
}
.upper-header{
    display:flex;
    justify-content: space-between;
    max-width: 1000px;
    margin:0 auto;
    padding:20px;
}

.upper-header > .links{
    display: flex;
    gap:14px;
    font-size: 18px;
}


.lower-header{
    display:flex;
    justify-content: space-between;
    max-width: 1000px;
    margin:0 auto;
    
}
.text-box{
    display:flex;
    flex-direction: column;
    gap:12px;

}
.top-line{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.sub-text{
    font-size: 18px;
    color:#E5E7EB;
}
.first-button{
    background-color: #3882F6;
    color: #f9faf8;
    padding:10px 30px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    font-weight: 900;
    width:113px;

}
.first-button:hover{
    background-color: #2e6cd1;
}


.random-info{
    font-weight:900;
    font-size: xx-large;
    text-align: center;
    color:#1F2937;
    padding-top: 20px;
}

.image-container{
    display:flex;
    justify-self: center;
    padding:15px;

}

.rounded-images{
    display: flex;
    gap:10px;
}

.rounded-images > div{
   display:flex;
   max-width: 275px;
   flex-direction: column;
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   gap:12px;

}
.rounded-images img{
    max-width: 250px;
    min-height: 250px;
    border: 6px solid orangered;
    border-radius: 10px;
}

